<%= form_with model: @post, local: true do |form| %>

  <%= render "shared/error_explanation", model: @post%>
  <div class="post-new-field">
  <%= form.label :title %><br>
  <%= form.text_field :title %>
  </div>

  <div class="post-new-field">
  <%= form.label :tldr %><br>
  <%= form.text_area :tldr %>
  </div>

  <div class="post-new-field">
  <%= form.label :text %><br>
  <%= form.rich_text_area :text %>
  </div>





  <%= form.submit %>


<% end %>